enunciate-1.26.2/docs/wannabecool/step4/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://api.ifyouwannabecool.com/" xmlns:persona="http://api.ifyouwannabecool.com/persona" xmlns:link="http://api.ifyouwannabecool.com/link" xmlns:api="http://api.ifyouwannabecool.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://api.ifyouwannabecool.com/">
      <xs:import namespace="http://api.ifyouwannabecool.com/link" schemaLocation="link.xsd"/>
      <xs:import namespace="http://api.ifyouwannabecool.com/persona" schemaLocation="persona.xsd"/>
      <xs:element name="ExclusiveGroupException" type="api:ExclusiveGroupException"/>
      <xs:complexType name="ExclusiveGroupException">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Thrown when trying to add someone to a social group that is exclusive.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="groupId" type="xs:string" minOccurs="0"/>
          <xs:element name="groupLeader" type="persona:persona" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PermissionDeniedException" type="api:PermissionDeniedException"/>
      <xs:complexType name="PermissionDeniedException">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[Thrown when an attempt is made to do something without the correct permissions.]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addToSocialGroup" type="api:addToSocialGroup"/>
      <xs:complexType name="addToSocialGroup">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit request wrapper for operation "addToSocialGroup". (Adds a persona to a social group.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="groupId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The id of the group to add the persona to.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="personaId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The id of the persona to add to the group.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addToSocialGroupResponse" type="api:addToSocialGroupResponse"/>
      <xs:complexType name="addToSocialGroupResponse">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit response wrapper for operation "addToSocialGroup". (Adds a persona to a social group.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" minOccurs="1">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[Whether the persona was successfully added.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createSocialGroup" type="api:createSocialGroup"/>
      <xs:complexType name="createSocialGroup">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit request wrapper for operation "createSocialGroup". (Create a social group.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="groupLeader" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The id of the group leader.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="memberIds" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The ids of the members of the group.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="exclusive" type="xs:boolean" minOccurs="1">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[Whether the group is exclusive.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="createSocialGroupResponse" type="api:createSocialGroupResponse"/>
      <xs:complexType name="createSocialGroupResponse">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit response wrapper for operation "createSocialGroup". (Create a social group.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="return" type="link:socialGroup" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The group that was created.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deletePersona" type="api:deletePersona"/>
      <xs:complexType name="deletePersona">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit request wrapper for operation "deletePersona". (Delete a persona.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="personaId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The id of the persona to delete.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="deletePersonaResponse" type="api:deletePersonaResponse"/>
      <xs:complexType name="deletePersonaResponse">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit response wrapper for operation "deletePersona". (Delete a persona.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="return" type="xs:boolean" minOccurs="1">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[Whether the persona was successfully deleted.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="readGroup" type="api:readGroup"/>
      <xs:complexType name="readGroup">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit request wrapper for operation "readGroup". (Read the specified social group.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="groupId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The id of the group.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="readGroupResponse" type="api:readGroupResponse"/>
      <xs:complexType name="readGroupResponse">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit response wrapper for operation "readGroup". (Read the specified social group.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="return" type="link:socialGroup" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The social group.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="readPersona" type="api:readPersona"/>
      <xs:complexType name="readPersona">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit request wrapper for operation "readPersona". (Reads a persona.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="personaId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The id of the persona to read.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="readPersonaResponse" type="api:readPersonaResponse"/>
      <xs:complexType name="readPersonaResponse">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit response wrapper for operation "readPersona". (Reads a persona.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="return" type="persona:persona" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The persona.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="storePersona" type="api:storePersona"/>
      <xs:complexType name="storePersona">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit request wrapper for operation "storePersona". (Store a persona.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="persona" type="persona:persona" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[The persona to store.]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="storePersonaResponse" type="api:storePersonaResponse"/>
      <xs:complexType name="storePersonaResponse">
        <xs:annotation>
          <xs:documentation>
            <![CDATA[doc/lit response wrapper for operation "storePersona". (Store a persona.)]]>
          </xs:documentation>
        </xs:annotation>
        <xs:sequence/>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="PersonaService.readPersona">
    <wsdl:documentation>
      <![CDATA[request message for operation "readPersona". (Reads a persona.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:readPersona"/>
  </wsdl:message>
  <wsdl:message name="PersonaService.readPersonaResponse">
    <wsdl:documentation>
      <![CDATA[response message for operation "readPersona". (Reads a persona.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:readPersonaResponse"/>
  </wsdl:message>
  <wsdl:message name="PersonaService.storePersona">
    <wsdl:documentation>
      <![CDATA[request message for operation "storePersona". (Store a persona.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:storePersona"/>
  </wsdl:message>
  <wsdl:message name="PersonaService.storePersonaResponse">
    <wsdl:documentation>
      <![CDATA[response message for operation "storePersona". (Store a persona.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:storePersonaResponse"/>
  </wsdl:message>
  <wsdl:message name="PersonaService.deletePersona">
    <wsdl:documentation>
      <![CDATA[request message for operation "deletePersona". (Delete a persona.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:deletePersona"/>
  </wsdl:message>
  <wsdl:message name="PersonaService.deletePersonaResponse">
    <wsdl:documentation>
      <![CDATA[response message for operation "deletePersona". (Delete a persona.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:deletePersonaResponse"/>
  </wsdl:message>
  <wsdl:message name="PermissionDeniedException">
    <wsdl:documentation>
      <![CDATA[Thrown when an attempt is made to do something without the correct permissions.]]>
    </wsdl:documentation>
    <wsdl:part name="PermissionDeniedException" element="api:PermissionDeniedException"/>
  </wsdl:message>
  <wsdl:message name="SocialGroupService.readGroup">
    <wsdl:documentation>
      <![CDATA[request message for operation "readGroup". (Read the specified social group.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:readGroup"/>
  </wsdl:message>
  <wsdl:message name="SocialGroupService.readGroupResponse">
    <wsdl:documentation>
      <![CDATA[response message for operation "readGroup". (Read the specified social group.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:readGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="SocialGroupService.createSocialGroup">
    <wsdl:documentation>
      <![CDATA[request message for operation "createSocialGroup". (Create a social group.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:createSocialGroup"/>
  </wsdl:message>
  <wsdl:message name="SocialGroupService.createSocialGroupResponse">
    <wsdl:documentation>
      <![CDATA[response message for operation "createSocialGroup". (Create a social group.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:createSocialGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="SocialGroupService.addToSocialGroup">
    <wsdl:documentation>
      <![CDATA[request message for operation "addToSocialGroup". (Adds a persona to a social group.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:addToSocialGroup"/>
  </wsdl:message>
  <wsdl:message name="SocialGroupService.addToSocialGroupResponse">
    <wsdl:documentation>
      <![CDATA[response message for operation "addToSocialGroup". (Adds a persona to a social group.)]]>
    </wsdl:documentation>
    <wsdl:part name="parameters" element="api:addToSocialGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="ExclusiveGroupException">
    <wsdl:documentation>
      <![CDATA[Thrown when trying to add someone to a social group that is exclusive.]]>
    </wsdl:documentation>
    <wsdl:part name="ExclusiveGroupException" element="api:ExclusiveGroupException"/>
  </wsdl:message>
  <wsdl:portType name="PersonaService">
    <wsdl:documentation>
      <![CDATA[The persona services is used to perform actions on the data associated with a persona.]]>
    </wsdl:documentation>
    <wsdl:operation name="readPersona">
      <wsdl:documentation>
        <![CDATA[Reads a persona.]]>
      </wsdl:documentation>
      <wsdl:input message="api:PersonaService.readPersona"/>
      <wsdl:output message="api:PersonaService.readPersonaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="storePersona">
      <wsdl:documentation>
        <![CDATA[Store a persona.]]>
      </wsdl:documentation>
      <wsdl:input message="api:PersonaService.storePersona"/>
      <wsdl:output message="api:PersonaService.storePersonaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deletePersona">
      <wsdl:documentation>
        <![CDATA[Delete a persona.]]>
      </wsdl:documentation>
      <wsdl:input message="api:PersonaService.deletePersona"/>
      <wsdl:output message="api:PersonaService.deletePersonaResponse"/>
      <wsdl:fault name="PermissionDeniedException" message="api:PermissionDeniedException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SocialGroupService">
    <wsdl:documentation>
      <![CDATA[The linkage service is used to service the data for creating links between personas. This
includes links and social groups.]]>
    </wsdl:documentation>
    <wsdl:operation name="readGroup">
      <wsdl:documentation>
        <![CDATA[Read the specified social group.]]>
      </wsdl:documentation>
      <wsdl:input message="api:SocialGroupService.readGroup"/>
      <wsdl:output message="api:SocialGroupService.readGroupResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createSocialGroup">
      <wsdl:documentation>
        <![CDATA[Create a social group.]]>
      </wsdl:documentation>
      <wsdl:input message="api:SocialGroupService.createSocialGroup"/>
      <wsdl:output message="api:SocialGroupService.createSocialGroupResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addToSocialGroup">
      <wsdl:documentation>
        <![CDATA[Adds a persona to a social group.]]>
      </wsdl:documentation>
      <wsdl:input message="api:SocialGroupService.addToSocialGroup"/>
      <wsdl:output message="api:SocialGroupService.addToSocialGroupResponse"/>
      <wsdl:fault name="ExclusiveGroupException" message="api:ExclusiveGroupException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServicePortBinding" type="api:PersonaService">
    <wsdl:documentation>
      <![CDATA[SOAP Binding for PersonaService]]>
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="readPersona">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storePersona">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePersona">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionDeniedException">
        <soap:fault name="PermissionDeniedException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SocialGroupServicePortBinding" type="api:SocialGroupService">
    <wsdl:documentation>
      <![CDATA[SOAP Binding for SocialGroupService]]>
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="readGroup">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSocialGroup">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addToSocialGroup">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ExclusiveGroupException">
        <soap:fault name="ExclusiveGroupException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceService">
    <wsdl:port name="PersonaServicePort" binding="api:PersonaServicePortBinding">
      <soap:address location="http://www.ifyouwannabecool.com/api/soap/PersonaServiceService"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="SocialGroupServiceService">
    <wsdl:port name="SocialGroupServicePort" binding="api:SocialGroupServicePortBinding">
      <soap:address location="http://www.ifyouwannabecool.com/api/soap/SocialGroupServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
