enunciate-1.26.2/docs/wannabecool/step4/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wadl:doc xmlns:enunciate="http://enunciate.codehaus.org/" enunciate:generatedBy="Enunciate-1.26.1"/>
  <wadl:grammars>
    <wadl:include href="persona.xsd"/>
    <wadl:include href="link.xsd"/>
    <wadl:include href="api.xsd"/>
  </wadl:grammars>
  <wadl:resources base="http://www.ifyouwannabecool.com/api">
    <wadl:resource path="/rest/group">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Create a social group.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="leader" style="query">
            <wadl:doc>
              <![CDATA[The id of the group leader.]]>
            </wadl:doc>
          </wadl:param>
          <wadl:param name="member" style="query">
            <wadl:doc>
              <![CDATA[The ids of the members of the group.]]>
            </wadl:doc>
          </wadl:param>
          <wadl:param name="exclusive" style="query">
            <wadl:doc>
              <![CDATA[Whether the group is exclusive.]]>
            </wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The group that was created.]]>
          </wadl:doc>
          <wadl:representation mediaType="*/*" element="link:socialGroup" xmlns:link="http://api.ifyouwannabecool.com/link"/>
          <wadl:representation mediaType="application/xml" element="link:socialGroup" xmlns:link="http://api.ifyouwannabecool.com/link"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/group">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Create a social group.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="leader" style="query">
            <wadl:doc>
              <![CDATA[The id of the group leader.]]>
            </wadl:doc>
          </wadl:param>
          <wadl:param name="member" style="query">
            <wadl:doc>
              <![CDATA[The ids of the members of the group.]]>
            </wadl:doc>
          </wadl:param>
          <wadl:param name="exclusive" style="query">
            <wadl:doc>
              <![CDATA[Whether the group is exclusive.]]>
            </wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The group that was created.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml" element="link:socialGroup" xmlns:link="http://api.ifyouwannabecool.com/link"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/group">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Create a social group.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="leader" style="query">
            <wadl:doc>
              <![CDATA[The id of the group leader.]]>
            </wadl:doc>
          </wadl:param>
          <wadl:param name="member" style="query">
            <wadl:doc>
              <![CDATA[The ids of the members of the group.]]>
            </wadl:doc>
          </wadl:param>
          <wadl:param name="exclusive" style="query">
            <wadl:doc>
              <![CDATA[Whether the group is exclusive.]]>
            </wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The group that was created.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/persona">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Store a persona.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:doc>
            <![CDATA[The persona to store.]]>
          </wadl:doc>
          <wadl:representation mediaType="*/*" element="persona:persona" xmlns:persona="http://api.ifyouwannabecool.com/persona"/>
          <wadl:representation mediaType="application/xml" element="persona:persona" xmlns:persona="http://api.ifyouwannabecool.com/persona"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/persona">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Store a persona.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:doc>
            <![CDATA[The persona to store.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml" element="persona:persona" xmlns:persona="http://api.ifyouwannabecool.com/persona"/>
        </wadl:request>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/persona">
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Store a persona.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:doc>
            <![CDATA[The persona to store.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/group/{groupId}">
      <wadl:param name="groupId" style="template">
        <wadl:doc>
          <![CDATA[The id of the group.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Read the specified social group.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The social group.]]>
          </wadl:doc>
          <wadl:representation mediaType="*/*" element="link:socialGroup" xmlns:link="http://api.ifyouwannabecool.com/link"/>
          <wadl:representation mediaType="application/xml" element="link:socialGroup" xmlns:link="http://api.ifyouwannabecool.com/link"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Adds a persona to a social group.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="member" style="query">
            <wadl:doc>
              <![CDATA[The id of the persona to add to the group.]]>
            </wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Whether the persona was successfully added.]]>
          </wadl:doc>
          <wadl:representation mediaType="*/*"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/group/{groupId}">
      <wadl:param name="groupId" style="template">
        <wadl:doc>
          <![CDATA[The id of the group.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Read the specified social group.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The social group.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml" element="link:socialGroup" xmlns:link="http://api.ifyouwannabecool.com/link"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/group/{groupId}">
      <wadl:param name="groupId" style="template">
        <wadl:doc>
          <![CDATA[The id of the group.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Read the specified social group.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The social group.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/group/{groupId}">
      <wadl:param name="groupId" style="template">
        <wadl:doc>
          <![CDATA[The id of the group to add the persona to.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Adds a persona to a social group.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="member" style="query">
            <wadl:doc>
              <![CDATA[The id of the persona to add to the group.]]>
            </wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Whether the persona was successfully added.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/group/{groupId}">
      <wadl:param name="groupId" style="template">
        <wadl:doc>
          <![CDATA[The id of the group to add the persona to.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="POST">
        <wadl:doc>
          <![CDATA[Adds a persona to a social group.]]>
        </wadl:doc>
        <wadl:request>
          <wadl:param name="member" style="query">
            <wadl:doc>
              <![CDATA[The id of the persona to add to the group.]]>
            </wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Whether the persona was successfully added.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/persona/{id}">
      <wadl:param name="id" style="template">
        <wadl:doc>
          <![CDATA[The id of the persona to read.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Reads a persona.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The persona.]]>
          </wadl:doc>
          <wadl:representation mediaType="*/*" element="persona:persona" xmlns:persona="http://api.ifyouwannabecool.com/persona"/>
          <wadl:representation mediaType="application/xml" element="persona:persona" xmlns:persona="http://api.ifyouwannabecool.com/persona"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
      <wadl:method name="DELETE">
        <wadl:doc>
          <![CDATA[Delete a persona.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Whether the persona was successfully deleted.]]>
          </wadl:doc>
          <wadl:representation mediaType="*/*"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/persona/{id}">
      <wadl:param name="id" style="template">
        <wadl:doc>
          <![CDATA[The id of the persona to read.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Reads a persona.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The persona.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml" element="persona:persona" xmlns:persona="http://api.ifyouwannabecool.com/persona"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/persona/{id}">
      <wadl:param name="id" style="template">
        <wadl:doc>
          <![CDATA[The id of the persona to read.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="GET">
        <wadl:doc>
          <![CDATA[Reads a persona.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[The persona.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/persona/{id}">
      <wadl:param name="id" style="template">
        <wadl:doc>
          <![CDATA[The id of the persona to delete.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="DELETE">
        <wadl:doc>
          <![CDATA[Delete a persona.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Whether the persona was successfully deleted.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/persona/{id}">
      <wadl:param name="id" style="template">
        <wadl:doc>
          <![CDATA[The id of the persona to delete.]]>
        </wadl:doc>
      </wadl:param>
      <wadl:method name="DELETE">
        <wadl:doc>
          <![CDATA[Delete a persona.]]>
        </wadl:doc>
        <wadl:request/>
        <wadl:response>
          <wadl:doc>
            <![CDATA[Whether the persona was successfully deleted.]]>
          </wadl:doc>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
