enunciate-1.26.2/docs/wannabecool/step1/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <wadl:doc xmlns:enunciate="http://enunciate.codehaus.org/" enunciate:generatedBy="Enunciate-1.26.1"/>
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>
  <wadl:resources base="http://localhost:8080/enunciate">
    <wadl:resource path="/rest/group">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:param name="leader" style="query"/>
          <wadl:param name="member" style="query"/>
          <wadl:param name="exclusive" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="*/*" element="socialGroup"/>
          <wadl:representation mediaType="application/xml" element="socialGroup"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/group">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:param name="leader" style="query"/>
          <wadl:param name="member" style="query"/>
          <wadl:param name="exclusive" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/xml" element="socialGroup"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/group">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:param name="leader" style="query"/>
          <wadl:param name="member" style="query"/>
          <wadl:param name="exclusive" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/persona">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="*/*" element="persona"/>
          <wadl:representation mediaType="application/xml" element="persona"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/persona">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/xml" element="persona"/>
        </wadl:request>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/persona">
      <wadl:method name="POST">
        <wadl:request>
          <wadl:representation mediaType="application/json"/>
        </wadl:request>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/group/{groupId}">
      <wadl:param name="groupId" style="template"/>
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="*/*" element="socialGroup"/>
          <wadl:representation mediaType="application/xml" element="socialGroup"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
      <wadl:method name="POST">
        <wadl:request>
          <wadl:param name="member" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="*/*"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/group/{groupId}">
      <wadl:param name="groupId" style="template"/>
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/xml" element="socialGroup"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/group/{groupId}">
      <wadl:param name="groupId" style="template"/>
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/group/{groupId}">
      <wadl:param name="groupId" style="template"/>
      <wadl:method name="POST">
        <wadl:request>
          <wadl:param name="member" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/group/{groupId}">
      <wadl:param name="groupId" style="template"/>
      <wadl:method name="POST">
        <wadl:request>
          <wadl:param name="member" style="query"/>
        </wadl:request>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/rest/persona/{id}">
      <wadl:param name="id" style="template"/>
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="*/*" element="persona"/>
          <wadl:representation mediaType="application/xml" element="persona"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
      <wadl:method name="DELETE">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="*/*"/>
          <wadl:representation mediaType="application/xml"/>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/persona/{id}">
      <wadl:param name="id" style="template"/>
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/xml" element="persona"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/persona/{id}">
      <wadl:param name="id" style="template"/>
      <wadl:method name="GET">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/xml/persona/{id}">
      <wadl:param name="id" style="template"/>
      <wadl:method name="DELETE">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/xml"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
    <wadl:resource path="/json/persona/{id}">
      <wadl:param name="id" style="template"/>
      <wadl:method name="DELETE">
        <wadl:request/>
        <wadl:response>
          <wadl:representation mediaType="application/json"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
